# Ignore all uploaded files files in the 'upload' directory
wordScore/uploads/sentiment/*.pdf
wordScore/uploads/sentiment/*.docx
wordScore/uploads/sentiment/*.xlxs

wordScore/uploads/*.pdf
wordScore/uploads/*.docx
wordScore/uploads/*.xlxs

#ignore sqlite
wordScore/db.sqlite3
wordScore/package-lock.json
wordScore/package.json

wordScore/myApp/__pycache__/views.cpython-312.pyc
wordScore/db.sqlite3