# Ignore all uploaded files files in the 'upload' directory
wordScore/uploads/sentiment/
wordScore/uploads/
*.pdf
*.docx
*.xlxs

#ignore sqlite
wordScore/db.sqlite3
wordScore/myApp/__pycache__/urls.cpython-312.pyc

db.sqlite3
*.sqlite3
*.pyc
*.json

wordScore/package-lock.json
wordScore/package.json